<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTurist.styles.css" asp-append-version="true" />
</head>
<body>


    <header>
        <div class="logo">
            <a href="/">
                <img src="~/pic/logo-panet.png" width="100" height="100" />
            </a>
        </div>



        <div class="menu">
            <ul>
                <li>Страны</li>
                <li>Форум</li>
                <li>Контакты</li>
                <li>Личный кабинет</li>
            </ul>
        </div>

        <div class="slogan">
            Портал об отдыхе и путешествиях
        </div>

    </header>

    <div class="bodycenter">@RenderBody()</div>



    <footer>
        <p>Сегодняшняя дата: @DateTime.Now.ToShortDateString()</p>

    </footer>

</body>
</html>

