@page
@model WebTurist.Pages.testingError.listErrorModel
@{
}

<h3>Выберите тип ошибки</h3>

 <ul>
    <li><a href="Imnotfoundpage.html">Переход на несуществующую страницу.</a></li>
    <li><a asp-page="ProblemServer">Ошибка на сервере.</a></li>
   
  </ul>